body {
    background-color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}

.common {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 40px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainbody{
    top: 100px;
    left: 5px;
    right: 110px;
    width: 1440px;
    bottom: 39px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}


.footer{
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 15px;
    font-size: 8px;
    text-align: center;
    padding-top: 50px;
    position: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.subheader{
    float: right;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainheader{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.bigheader{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: bold;
}